*
!.gitignore
!/GPXTracker/

!/GPXTracker/*.html
!/GPXTracker/config.xml
/GPXTracker/*

!/GPXTracker/js/
!/GPXTracker/js/*

!/GPXTracker/css/

/GPXTracker/css/*
!/GPXTracker/css/*.css

!/GPXTracker/widget/
!/GPXTracker/widget/*

!/GPXTracker/widget/GPXTrackerWidget/
/GPXTracker/widget/GPXTrackerWidget/*
!/GPXTracker/widget/GPXTrackerWidget/*.html

!/GPXTracker/widget/GPXTrackerWidget/css/
!/GPXTracker/widget/GPXTrackerWidget/js/