* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    background-color:#222;
}

.contents {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:320px;
}

.content-padding {
	margin-top: 16px;
	margin-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
}

.content_text {
	font-weight:bold;
	font-size:5em;
	color:#fff;
}


/* ---------------------------------- LISTVIEW ---------------------------------- */


.ui-listview li .li-text-sub {
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 32px;
}

.ui-listview .li-text-sub-right-icon {
	width: calc(100% - 34px);
}

.ui-listview li.li-has-2line {
	padding-top: 18px;
	padding-bottom: 17px;
	height: 115px;
}

.ui-listview li.li-has-3line {
	padding-top: 9px;
	padding-bottom: 10px;
	height: 128px;
}

.ui-listview.expand-list li.li-has-2line .ui-marquee{
	-webkit-transform: translate(0, 16px);
}
.ui-listview.expand-list li.li-has-2line.ui-snap-listview-selected .ui-marquee{
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: all ease 1s;
	margin-top: 0;
}

.ui-listview.expand-list li.li-has-2line .ui-li-sub-text{
	-webkit-transform: translate(0, -20px);
	opacity: 0;
}
.ui-listview.expand-list li.li-has-2line.ui-snap-listview-selected .ui-li-sub-text{
	-webkit-transform: translate3d(0, 0, 0);
	opacity: 1;
	-webkit-transition: all ease 1s;
}

.ui-listview.expand-list li.li-has-3line .ui-marquee{
	-webkit-transform: translate(0, 30px);
}
.ui-listview.expand-list li.li-has-3line.ui-snap-listview-selected .ui-marquee{
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: all ease 1s;
}

.ui-listview.expand-list li.li-has-3line .ui-li-sub-text:nth-child(2){
	-webkit-transform: translate(0, -10px);
	opacity: 0;
}
.ui-listview.expand-list li.li-has-3line.ui-snap-listview-selected .ui-li-sub-text:nth-child(2){
	-webkit-transform: translate3d(0, 0, 0);
	opacity: 1;
	-webkit-transition: all ease 1s;
}

.ui-listview.expand-list li.li-has-3line .ui-li-sub-text:last-child{
	-webkit-transform: translate(0, -42px);
	opacity: 0;
}
.ui-listview.expand-list li.li-has-3line.ui-snap-listview-selected .ui-li-sub-text:last-child{
	-webkit-transform: translate3d(0, 0, 0);
	opacity: 1;
	-webkit-transition: all ease 1s;
}

.ui-listview li.li-has-multiline {
	padding-top: 6px;
	padding-bottom: 5px;
	min-height: 100px;
}
.ui-listview.ui-snap-listview li.li-has-multiline {
	padding-top: 17px;
	padding-bottom: 17px;
	min-height: 108px;
	line-height: normal;
}
.ui-listview li.li-has-radio.disabled,
.ui-listview li.li-has-radio.disabled > *,
.ui-listview li.li-has-checkbox.disabled,
.ui-listview li.li-has-checkbox.disabled > *,
.ui-listview li.li-has-multiline.disabled,
.ui-listview li.li-has-multiline.disabled > *,
.ui-listview li.li-has-multiline-sup.disabled,
.ui-listview li.li-has-multiline-sup.disabled > * {
	color: rgb(51, 51, 51);
}
.ui-listview li.li-has-multiline > a {
	margin-top: -6px;
	margin-bottom: -6px;
	padding-top: 11px;
	padding-bottom: 12px;
}
.ui-listview li.li-has-multiline-sup {
	padding-top: 6px;
	padding-bottom: 5px;
	min-height: 100px;
}
.ui-listview li.li-has-multiline-sup > a {
	margin-top: -36px;
	margin-bottom: -5px;
	padding-top: 36px;
	padding-bottom: 5px;
}
.ui-listview li {
	position: relative;
}
.ui-listview li input[type="checkbox"]:not(.ui-switch-input),
.ui-listview li input[type="radio"] {
	position: absolute;
	right: 30px;
	top: 50%;
	-webkit-transform: translate3d(0, -50%, 0);
}
.ui-listview .li-has-toggle .ui-toggleswitch {
	position: absolute;
	right: 30px;
	top: 50%;
	-webkit-transform: translate3d(0, -50%, 0);

}
.ui-listview .li-has-radio.disabled,
.ui-listview li.li-has-multiline.li-has-radio.disabled,
.ui-listview li.li-has-multiline.li-has-radio.disabled .li-text-sub,
.ui-listview li.li-has-multiline.li-has-checkbox.disabled,
.ui-listview li.li-has-multiline.li-has-checkbox.disabled .li-text-sub {
	color: rgb(51, 51, 51);
}
.ui-listview li.li-has-checkbox label,
.ui-listview li.li-has-radio label,
.ui-listview li.li-has-toggle > label {
	display: block;
	padding: 31.5px 94px 31.5px 40px;
	margin-top: -30px;
	margin-bottom: -21px;
	margin-left: -38px;
	margin-right: -8px;
}
.ui-listview li.li-has-thumb-left {
	padding-left: 88px;
}

.ui-listview li.li-has-thumb-right {
	padding-right: 88px;
}
.ui-listview.ui-snap-listview li.li-has-checkbox label,
.ui-listview.ui-snap-listview li.li-has-radio label,
.ui-listview.ui-snap-listview li.li-has-toggle > label,
.ui-listview.ui-snap-listview li.li-has-thumb-right{
	padding: 27px 94px 21px 40px;
}
.ui-listview.ui-snap-listview li.li-has-thumb-left{
	padding: 27px 40px 21px 102px;
}
.ui-listview li img {
	position: absolute;
	top: 50%;
	-webkit-transform: translate3d(0, -50%, 0);
	width: 56px;
	height: 56px;
	background-color: rgba(245, 245, 245, 1);
}

.ui-listview li.li-has-thumb-right img,
.ui-listview li.li-has-thumb-left img {
	border-radius: 50%;
}
.ui-listview li.li-has-thumb-right img {
	right: 16px;
}
.ui-listview li.li-has-thumb-left img {
	left: 16px;
}

.ui-listview li.li-has-multiline.li-has-checkbox label,
.ui-listview li.li-has-multiline.li-has-radio label,
.ui-listview li.li-has-multiline.li-has-toggle label:not(.ui-toggleswitch) {
	display: block;
	padding-bottom: 12px;
	padding-left: 16px;
	padding-right: 90px;
	padding-top: 11px;
	margin-top: -6px;
	margin-bottom: -6px;
	margin-left: -16px;
	margin-right: -16px;
}
.ui-listview.ui-snap-listview li.li-has-multiline.li-has-checkbox label,
.ui-listview.ui-snap-listview li.li-has-multiline.li-has-radio label,
.ui-listview.ui-snap-listview li.li-has-multiline.li-has-toggle label:not(.ui-toggleswitch) {
	padding-right: 104px;
}
.ui-listview.ui-snap-listview li.li-has-multiline.li-has-checkbox label,
.ui-listview.ui-snap-listview li.li-has-multiline.li-has-radio label,
.ui-listview.ui-snap-listview li.li-has-multiline.li-has-toggle label:not(.ui-toggleswitch),
.ui-listview.ui-snap-listview li.li-has-multiline.li-has-thumb-right,
.ui-listview.ui-snap-listview li.li-has-multiline.li-has-thumb-left {
	padding-top: 27px;
}
.ui-listview li.li-has-multiline.li-has-thumb-left {
	padding-left: 88px;
	padding-right: 30px;
	margin-left: 0;
}
.ui-listview li.li-has-multiline.li-has-toggle label:not(.ui-toggleswitch) {
	padding-right: 75px;
}

.select-btn {
	position: fixed;
	top: 22px;
	left: 50%;
	margin-left: -50px;

	height: 75px;
	width: 100px;
	line-height: 75px;
	border-radius: 40px;

	text-align: center;
	background-color: rgb(8, 56, 94);
	box-shadow: 0 3px 4px rgb(17, 17, 17);
	z-index: 90;
}
.select-btn-text {
	display: block;
	height: 100%;
	line-height: 60px;
	background: url(../contents/list/images/tw_list_number_icon.png) no-repeat 50% 100%;
}
.ui-listview li.select {
	background-color: rgb(8, 42, 57);
}
li.static::before {
	content:"";
	-webkit-mask-image: url(../contents/list/images/tw_list_check_ic.png);
	-webkit-mask-repeat: no-repeat;
	background-color: rgba(112, 186, 15, 1);
	width: 0;
	height: 56px;
	position: absolute;
	left: 40%;
	-webkit-transform: translateX(-50%);
	-webkit-transition: width 150ms, left 150ms;
}

.ui-listview-li li img {
	height: 56px;
	width: 56px;
	background-color: rgb(8, 42, 57);
}

/* ------------------------------------------------------------------------------ */
/* -----------------------------------  NEXT DEPTH------------------------------------ */

.ui-listview li.li-has-next-depth {
	padding-right: 60px;
}
.ui-listview li.li-has-next-depth a,
.ui-listview li.li-has-next-depth.disabled {
	position: relative;
	margin-right: -60px;
	padding-right: 60px;
}
.ui-listview li.li-has-next-depth a:after {
	position: absolute;
	content: "";
	right: 30px;
	width: 50px;
	height: 50px;
	top: 50%;
	margin-top: -25px;
	background-repeat: no-repeat;
	background-size: 50px 50px;
	background-position: right center;
	background-image: url(../extra/images/Controller_icon/tw_btn_next_depth_holo_dark.png);
}
.ui-listview li.li-has-next-depth.disabled a:after {
	position: absolute;
	right: 30px;
	content: "";
	width: 50px;
	height: 50px;
	top: 50%;
	margin-top: -25px;
	background-repeat: no-repeat;
	background-size: 50px 50px;
	background-position: right center;
	background-image: url(../extra/images/Controller_icon/tw_btn_next_depth_disabled_holo_dark.png);
}
.ui-listview li.li-has-next-depth a:active:after,
.ui-listview li.li-has-next-depth a:focus:after {
	position: absolute;
	content: "";
	right: 30px;
	width: 50px;
	height: 50px;
	top: 50%;
	margin-top: -25px;
	background-repeat: no-repeat;
	background-size: 50px 50px;
	background-position: right center;
	background-image: url(../extra/images/Controller_icon/tw_btn_next_depth_focused_holo_dark.png);
}
.ui-listview li.li-has-next-depth.disabled,
.ui-listview li.li-has-next-depth.disabled a,
.ui-listview li.li-has-next-depth.disabled .li-text-sub {
	color: rgb(51, 51, 51);
}
.disabled {
	pointer-events: none;
}

@media all and (-tizen-geometric-shape: circle) {


	/* ------------------ LISTVIEW ------------------------ */
	.ui-listview li img {
		width: 76px;
		height: 76px;
	}
	.ui-listview li>a{
		-webkit-mask-image : -webkit-linear-gradient(left, #fff 83%,transparent 92%);
	}
	.ui-listview li.li-has-multiline > a {
		margin-top: -17px;
		margin-bottom: -17px;
		padding-top: 17px;
		padding-bottom: 17px;
	}
	.ui-listview.ui-snap-listview li.li-has-multiline.li-has-2line-sub {
		padding-top: 12px;
		padding-bottom: 12px;
	}
	.ui-listview.ui-snap-listview li.li-has-multiline.li-has-2line-sub > a {
		margin-top: -12px;
		margin-bottom: -12px;
		padding-top: 12px;
		padding-bottom: 12px;
	}
	.ui-listview li.li-has-thumb-right,
	.ui-listview li.li-has-thumb-left,
	.ui-listview li.li-has-action-icon,
	.ui-listview li.li-has-toggle,
	.ui-listview li.li-has-checkbox,
	.ui-listview li.li-has-radio,
	.ui-listview li.ui-li-btn
	{
		-webkit-mask-image: none;
	}
	.ui-listview li.li-has-checkbox label,
	.ui-listview li.li-has-radio label,
	.ui-listview li.li-has-toggle > label {
		margin-top: -17px;
		margin-bottom: -17px;
		margin-left: -40px;
		margin-right: -40px;
	}
	.ui-listview.ui-snap-listview li.li-has-checkbox label,
	.ui-listview.ui-snap-listview li.li-has-radio label,
	.ui-listview.ui-snap-listview li.li-has-toggle > label,
	.ui-listview.ui-snap-listview li.li-has-thumb-right {
		padding: 17px 100px 17px 30px;
	}
	.ui-listview .li-has-toggle .ui-toggleswitch {
		right: 16px;
	}
	.ui-listview.ui-snap-listview li.li-has-multiline.li-has-checkbox label,
	.ui-listview.ui-snap-listview li.li-has-multiline.li-has-radio label,
	.ui-listview.ui-snap-listview li.li-has-multiline.li-has-toggle label:not(.ui-toggleswitch) {
		display: block;
		padding: 17px 100px 17px 30px;
		margin: -17px -40px -17px -40px;
	}
	.ui-listview.ui-snap-listview li.li-has-thumb-left {
		padding: 17px 30px 17px 100px;
	}
	.ui-listview.ui-snap-listview li input[type="checkbox"]:not(.ui-switch-input),
	.ui-listview.ui-snap-listview li input[type="radio"] {
		right: 16px;
	}
	.li-has-action-icon .li-action-text::after{
		height: 60px;
		background-color: rgba(8, 8, 8, 0.3);
		right: 103px;
	}
	.li-has-action-icon .li-action-icon-button{
		width: 86px;
		margin-left:2px;
		margin-right: 15px;
	}
	.ui-listview .li-has-action-icon.ui-li-active .li-action-text:active {
		background-color: transparent;
	}
	.ui-listview li.select {
		background-color: transparent;
	}
	.ui-listview li.ui-listview-divider{
		border-image: none;
	}
	.ui-listview li.ui-listview-divider:first-child {
		margin-top: 0;
	}
	.ui-listview.ui-snap-listview li.li-has-multiline.li-has-thumb-right,
	.ui-listview.ui-snap-listview li.li-has-multiline.li-has-thumb-left {
		padding-top: 17px;
	}
	.ui-listview.expand-list li.li-has-2line .ui-marquee{
		-webkit-transform: translate(0, 5px);
	}
	.ui-listview.expand-list li.li-has-2line.ui-snap-listview-selected {
		padding-top: 15px;
	}
	.ui-listview.expand-list li.li-has-2line.ui-snap-listview-selected .ui-marquee {
		line-height: 47px;
	}
	
	/* -------------More Options-----------*/

	#moreoptionsPopupCircle {
		background-color: rgba(255, 255, 255, 0.1);
		-webkit-mask-image: -webkit-radial-gradient(black 71%,transparent 0);
		background-image: none;
	}
	#moreoptionsPopupCircle .ui-popup-wrapper::after {
		content: none;
	}

}

.ui-item.ui-item-active::before{
	background-color: rgba(2, 129, 209, 1);
}

.delete-icon::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-mask-image: url(./images/b_more_option_delete_icon.png);
	-webkit-mask-size: 100% 100%;
	background-color: rgb(8, 8, 8);
	-webkit-mask-repeat: no-repeat;
}
.human-icon::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-mask-image: url(./images/b_more_option_human_icon.png);
	-webkit-mask-size: 100% 100%;
	background-color: rgb(8, 8, 8);
	-webkit-mask-repeat: no-repeat;
}
.show-icon::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-mask-image: url(./images/b_more_option_show_on_device_icon.png);
	-webkit-mask-size: 100% 100%;
	background-color: rgb(8, 8, 8);
	-webkit-mask-repeat: no-repeat;
}
.x-icon::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-mask-image: url(./images/tw_toast_popup_delete.png);
	-webkit-mask-size: 100% 100%;
	background-color: rgb(8, 8, 8);
	-webkit-mask-repeat: no-repeat;
}
.fail-icon::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-mask-image: url(./images/tw_toast_popup_fail.png);
	-webkit-mask-size: 100% 100%;
	background-color: rgb(8, 8, 8);
	-webkit-mask-repeat: no-repeat;
}

.add-gpx-icon::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-mask-image: url(./images/add.png);
	-webkit-mask-size: 100% 100%;
	background-color: rgb(8, 8, 8);
	-webkit-mask-repeat: no-repeat;
}
.screen-icon::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-mask-image: url(./images/gear.png);
	-webkit-mask-size: 100% 100%;
	background-color: rgb(8, 8, 8);
	-webkit-mask-repeat: no-repeat;
}
.currentpos-icon::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-mask-image: url(./images/languages.png);
	-webkit-mask-size: 100% 100%;
	background-color: rgb(8, 8, 8);
	-webkit-mask-repeat: no-repeat;
}
.trace-icon::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-mask-image: url(./images/route.png);
	-webkit-mask-size: 100% 100%;
	background-color: rgb(8, 8, 8);
	-webkit-mask-repeat: no-repeat;
}

.center-icon::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-mask-image: url(./images/favorite_on.png);
	-webkit-mask-size: 100% 100%;
	background-color: rgb(8, 8, 8);
	-webkit-mask-repeat: no-repeat;
}

.orientation-icon::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-mask-image: url(./images/flag.png);
	-webkit-mask-size: 100% 100%;
	background-color: rgb(8, 8, 8);
	-webkit-mask-repeat: no-repeat;
}

.distance-icon::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-mask-image: url(./images/nearby_place.png);
	-webkit-mask-size: 100% 100%;
	background-color: rgb(8, 8, 8);
	-webkit-mask-repeat: no-repeat;
}

.offtrack-icon::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-mask-image: url(./images/show_on_device.png);
	-webkit-mask-size: 100% 100%;
	background-color: rgb(8, 8, 8);
	-webkit-mask-repeat: no-repeat;
}

.version-icon::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-mask-image: url(./images/watch.png);
	-webkit-mask-size: 100% 100%;
	background-color: rgb(8, 8, 8);
	-webkit-mask-repeat: no-repeat;
}

.mapengine-icon::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-mask-image: url(./images/shuffle_on.png);
	-webkit-mask-size: 100% 100%;
	background-color: rgb(8, 8, 8);
	-webkit-mask-repeat: no-repeat;
}

.removefile-icon::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-mask-image: url(./images/delete.png);
	-webkit-mask-size: 100% 100%;
	background-color: rgb(8, 8, 8);
	-webkit-mask-repeat: no-repeat;
}

.maptype-icon::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-mask-image: url(./images/refresh.png);
	-webkit-mask-size: 100% 100%;
	background-color: rgb(8, 8, 8);
	-webkit-mask-repeat: no-repeat;
}

 .btn-icon-add::before {
	background-color: rgba(245, 245, 245, 1);
	-webkit-mask-image: url(../css/images/add.png);
 }
 
 .btn-icon-save::before {
	background-color: rgba(245, 245, 245, 1);
	-webkit-mask-image: url(../css/images/save_attachment.png);
 }
 
 .btn-icon-delete::before {
	background-color: rgba(245, 245, 245, 1);
	-webkit-mask-image: url(../css/images/delete.png);
 }
